.ItemsContainer {
	display: flex;
	align-items: center;
	// justify-content: center;
	flex-direction: column;

	.savedList {
		background-color: #e2e1e1;
		border-radius: 5px;
		border: none;
		color: inherit;
		cursor: pointer;
		font: inherit;
		padding: 0;
		outline: inherit;
		margin: 0 5rem 0 0;
		padding: 5rem, 5rem, 8rem, 8rem;
		height: auto;
		width: 28rem;
		margin-top: 4rem;
	}
	.itemsInfo {
		display: flex;
	}
	.itemTitle {
		display: flex;
		p {
			margin-top: 1.1rem;
		}
		// input {
		// 	margin-top: 1.4rem;
		// 	margin-left: 1rem;
		// 	outline: none;
		// 	border: none;
		// 	background-image: none;
		// 	background-color: transparent;
		// 	box-shadow: none;
		// }
	}
	.pricePersonContainer {
		margin-top: 1.2rem;
		margin-left: 2rem;
		// input {
		// 	outline: none;
		// 	background-color: #e2e1e1;
		// 	border: none;
		// 	background-image: none;
		// 	background-color: transparent;
		// 	box-shadow: none;
		// }
		button {
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
			font: inherit;
			outline: inherit;
		}
	}
}
