.inputsContainer {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.inputCreateLists {
		background-image: none;
		background-color: rgb(255, 255, 255);
		border-radius: 5px;
		border: none;
		box-shadow: none;
		outline: none;
		margin: 0 5rem 0 0;
		padding: 5rem, 5rem, 8rem, 8rem;
		height: 3rem;
		width: 28rem;
		margin-top: 1rem;
		box-shadow: 0px 2px 8px 0px rgba(207, 214, 214, 1);
	}

	.inputCreateLists::placeholder {
		padding-left: 1rem;
	}
	.formAddItems {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		// height: 5rem;
		height: auto;
		margin-top: 0.5rem;
		@extend .inputCreateLists;
		input {
			@extend .inputCreateLists::placeholder;
			height: 1rem;
			margin-top: 0.5rem;
			border: none;
			box-shadow: none;
			outline: none;
			background-color: rgb(255, 255, 255);
			width: 15rem;
			height: 3rem;
			margin-right: 9rem;
		}
		.addBtn {
			background: none;
			color: inherit;
			border: none;
			padding: 0;
			font: inherit;
			cursor: pointer;
			outline: inherit;
			// margin-left: 1rem;
		}
	}
	.btnsaveShoppingList {
		background: none;
		color: inherit;
		border: 2px solid #61e06b;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		background-color: white;
		color: #61e06b;
		padding: 0.2rem 2rem;
		border-radius: 5px;
		margin-top: 1rem;
		margin-left: 13rem;
	}
	.btnsaveShoppingList:hover {
		cursor: pointer;
		background-color: #61e06b;
		color: #443bff;
	}
	.itemsList {
		display: flex;
		flex-direction: column;
		margin-right: 5rem;
	}
	.newItemContainer {
		display: flex;
		flex-direction: row;
		margin-right: 18rem;
		max-width: 6rem;
		.bin {
			margin-left: 20rem;
			width: 0.8rem;
			margin-top: 1rem;
			margin-right: 2rem;
			cursor: pointer;
		}
		img {
			max-width: 1rem;
		}
		p {
			margin-left: 1rem;
			max-width: 1rem;
		}
		.binDiv {
			max-width: 1rem;
		}
	}
}
