.btnsDisplayComponents {
	align-items: center;
	display: flex;
	justify-content: center;
	border-bottom: 2px solid rgb(199, 199, 199);
	.btnDisplay {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		font: inherit;
		padding: 0;
		outline: inherit;
		margin: 0 5rem 0 0;
		padding: 5rem, 5rem, 8rem, 8rem;
		height: 3rem;
		width: 11rem;
	}
}
