.btnsDisplayComponents {
	align-items: center;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgb(238, 235, 235);
	.btnDisplay {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		font: inherit;
		padding: 0;
		outline: inherit;
		margin: 0 5rem 0 0;
		padding: 5rem, 5rem, 8rem, 8rem;
		height: 3rem;
		width: 11rem;
	}
}

.errorMessage {
	align-items: center;
	display: flex;
	justify-content: center;
	color: red;
	margin-right: 4rem;
	margin-top: 2rem;
}
